@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <span class="text-white me-2">Hello, @context.User.Identity?.Name!</span>
        <form action="/account/logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-sm btn-outline-light">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="login" class="btn btn-sm btn-outline-light me-2">Login</a>
        <a href="signup" class="btn btn-sm btn-success">Sign Up</a>
    </NotAuthorized>
</AuthorizeView>
